<!-- login.component.html -->

<section class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <div mat-card-avatar class="user-avatar"></div>
      <mat-card-title></mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="name"
            [(ngModel)]="username"
            name="name"
            required
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            matInput
            type="password"
            placeholder="Password"
            [(ngModel)]="password"
            name="password"
            required
          />
        </mat-form-field>

        <div class="button-container">
          <button mat-raised-button color="primary" (click)="login()">
            Log In
          </button>
          <button mat-button color="accent" (click)="register()">
            Register
          </button>
        </div>
      </form>

      <div class="forgot-password">
        <a href="#">Forgot password?</a>
      </div>
    </mat-card-content>
  </mat-card>
</section>
